<!DOCTYPE html>
<html lang="en" ng-app="gameApp">
    <head>
        <title><%= title %></title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="sIE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <base href="/" />
        <link href='http://fonts.googleapis.com/css?family=Gudea:400,700|Roboto+Slab:700' rel='stylesheet' type='text/css'>
        <link href="http://fonts.googleapis.com/css?family=Press+Start 2P:400" rel="stylesheet" type="text/css">
        <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css' />
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body ng-controller="GameController">
        <header>
            <h1><%= title %></h1>
        </header>
        <section class="container-fluid">
            <div ng-show="load" class="loading-image">
                <div class="image-loading-center">
                    <img src="../images/loading.gif" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div id="container-game">
                        <!-- HERE WE WILL PUT THE CANVAS -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div ng-show="!playerReady">
                        <!-- FORM NEW PLAYER -->
                        <form name="newPlayerForm" role="form" ng-submit="newPlayerForm.$valid && addNewPlayer()" novalidate>
                            <div class="form-group game-form">
                                <label for="name">Nickname</label>
                                <input ng-model="player.name" id="name" class="form-control input-nickname-game" type="text" required>
                            </div>
                            <!-- IF AN ERROR OCCURRED, WILL DISPLAY HERE -->
                            <div ng-if="message" class="alert alert-danger">
                                {{message}}
                            </div>
                            <button type="submit" class="button-game" ng-disabled="nameSend">Go for it!</button>
                        </form>
                    </div>
                    <!-- RANKING OF PLAYERS -->
                    <h3 ng-if="players.length > 0" class="ranking-player-title">
                        RANKING OF PLAYERS
                    </h3>
                    <div ng-if="players.length > 0" >
                        <table class="ranking-players">
                            <tr>
                                <th class="monster-caught-th">Monsters Caught</th>
                                <th>Player</th>
                            </tr>
                            <tr ng-repeat="p in players | orderBy: 'monster_caught':true track by $index">
                                <td>{{p.monster_caught}}</td>
                                <td>{{p.name_player}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        
        <script src="/socket.io/socket.io.js"></script>
        <script src="/bower_components/angular/angular.min.js"></script>
        <script src="/bower_components/angular-socket-io/socket.js"></script>
        <script src="/javascripts/app.js"></script>
  	</body>
</html>